@font-face{
    font-family: 'Monsserat Black';
    src: url(../fonts/Montserrat-Black.ttf) ;
}
@font-face{
    font-family: 'Monsserat Bold';
    src: url(../fonts/Montserrat-Bold.ttf) ;
}
@font-face{
    font-family: 'Monsserat Light';
    src: url(../fonts/Montserrat-Light.ttf) ;
}
@font-face{
    font-family: 'Monsserat Regular';
    src: url(../fonts/Montserrat-Regular.ttf) ;
}
@font-face{
    font-family: 'Monsserat Thin';
    src: url(../fonts/Montserrat-Thin.ttf) ;
}
